version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  server:
    build: ./server
    restart: unless-stopped
    environment:
      - PORT=5000
      - MONGODB_URI=mongodb://mongo:27017/realtime_chat
      - JWT_SECRET=af23ab5a8a172e24c6d2a4a7004c2ed21b067dbeb63d54e81f50a1db2423f257df4beecb87ee91e806baeea6f65506cee245c80693227b7107b31840629b1259
      - SMTP_SERVICE=Gmail
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=edrisabdella178@gmail.com
      - SMTP_PASS=uyeetoqpcimvblxc
      - EMAIL_FROM="Real-Time Chat <edrisabdella178@gmail.com>"
      - CLIENT_URL=http://localhost:5173
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    networks:
      - appnet

  client:
    build: ./client
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - server
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge
